
<div class="container">
    <button id="linkCrearPropietario" 
            routerLink="./crear"
            class="btn btn-warning mt-3">
            Crear Propietario
    </button>
    <router-outlet></router-outlet>

    <table class="table-bordered mx-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>TipoDocumento</th>
                <th>Documento</th>
                <th>NombreCompleto</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propietario of listaPropietario">
                <td data-label="ID">{{propietario.id}}</td>
                <td data-label="Tipo Documento">{{propietario.tipoDocumento}}</td>
                <td data-label="Documento">{{propietario.documento}}</td>
                <td data-label="Nombre">{{propietario.nombreCompleto}}</td>
                <td data-label="Email">{{propietario.email}}</td>
                <td data-label="Telefono">{{propietario.telefono}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
