<form [formGroup]="facturaForm">
    <!--crear input hidden id_vehiculo-->
    <div class="flex-container-form mx-auto">
        <div class="form">
            <div *ngIf="!esCrear">
                <label>Placa</label>
                <input class="form-control" disabled formControlName="placa">
            </div>

            <div class="form-group mx-auto">
                <label>Modalidad</label>
                <select id="tipoModalidad" class="form-control" formControlName="tipoModalidad">
                    <option value="HORA">Hora</option>
                    <option value="DIA">Dia</option>
                    <option value="QUINCENAL">Quincenal</option>
                    <option value="MENSUAL">Mensual</option>
                </select>
            </div>
            <div class="form-group mb-3" *ngIf="esCrear">
                <label>Placa</label>
                <input class="form-control" 
                       type="text" 
                       name="placa" 
                       id="placa"
                       formControlName="placa"
                       (change)="consultarVehiculo()"
                />
            </div>

            <div class="form-group mb-3" *ngIf="facturaForm.value?.tipoModalidad != 'HORA' || !esCrear">
                <label>Estado</label>
                <select id="estadoFactura" class="form-control" formControlName="estadoFactura" >
                    <option value="CONFIRMADA" >Confirmar</option>
                    <option value="PENDIENTE" hidden>Pendiente</option>
                    <option value="ANULADA" hidden>Anulada</option>
                </select>
            </div>
            
            <button 
                type="button" 
                class="btn btn-info mb-3"
                (click)="ejecutarAccion()">
                {{esCrear ? "Guardar" : "Actualizar"}}
            </button>
        </div>

        <button class="boton_cerrar btn btn-light" id="linkListarFacturas" routerLink="/factura">
            <i class="bi bi-x-circle"></i>
        </button>
    </div>
</form>
