<div class="container">
    <button id="linkCrearFactura" routerLink="./crear" class="btn btn-info mt-3" >Crear Factura</button>
    <router-outlet></router-outlet>

    <table class="table-bordered mx-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modalidad</th>
                <th>Propietario</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Valor</th>
                <th>Placa</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of listaFacturas">
                <td data-label="ID">{{factura.id}}</td>
                <td data-label="Modalidad">{{factura.tipoModalidad}}</td>
                <td data-label="Vehiculo">{{factura.vehiculo != null && factura.tipoModalidad != 'HORA' ? factura.vehiculo.propietarioDTO.documento : ""}}</td>
                <td data-label="Fecha Inicio">{{factura.fechaInicio}}</td>
                <td data-label="Fecha Fin">{{factura.fechaFin}}</td>
                <td data-label="Valor">{{factura.valor}}</td>
                <td data-label="Placa">{{factura.vehiculo != null ? factura.vehiculo.placa : factura.placa}}</td>
                <td data-label="Estado">{{factura.estadoFactura}}</td>
                <td>
                    <button class="btn btn-warning" *ngIf="factura?.estadoFactura != 'ANULADA'" routerLink="/factura/editar/{{factura.id}}">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button class="btn btn-danger" (click)="anular(factura)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
