button{
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


/*mobile*/
@media 
only screen and 
    (max-width: 760px){
        td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #DDD; 
        }
        tr + tr{
            margin-top: 1.5em;
        }
        td { 
            /* make like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
            background-color: #fff;
            text-align: left; 
        }
        td:before { 
            content: attr(data-label);
            display: inline-block;
            line-height: 1.5;
            margin-left: -100%;
            width: 100%;
            white-space: nowrap;
            font-weight: bold;
        }

        
    }
